body {
	height: 100%;
	margin: 0;
	
	width: 100%;
}

.header {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	text-align: left;
}

.middle {
	text-align: center;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	padding: 250px 0;
	margin: 30px;
  	background-image: 
  	url("/assets/bg.jpg.jpg");
  	opacity: 0.3
}
